body {
    background-image: url('images/artsfon.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
   
}
h2 a{
    text-decoration: underline; 
    text-decoration: none;      
    color: rgb(169, 243, 218);
}
h2 a:hover{
    text-decoration: underline; 
  
    color: rgb(160, 134, 214);

}
.titre {
    font-family:fantasy;
    font-size: 30px;
    color: rgb(155, 134, 203);
    padding: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width:90px ;
    height: 90px;
}
.celebrity{
    font-size: large;
    font-family: fantasy;

}

.navbar {
    background-color: #b67aa2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar a {
    
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.star{
    display: flex;
    align-items: center;    
    position: relative;     
    width: 90%;            
  
    margin: 20px auto;     
    overflow: hidden;       
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); 

.star:hover {
    background-color: #422448; 
   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px); 
}

.star img {
    width: 120px; ;            
    height: auto;          
    display: flex;
   align-items: center;
   margin-left: 10%;
}
.block_text{
    position: absolute;     
    top: 50%;               
    left: 50%;             
    transform: translate(-50%, -50%); 
    color: white;           
    text-align:start;   

    padding: 20px;        
    border-radius: 8px;    

}

.nos_stars{
    display: flex;
    flex-direction: column;
}


footer{

    .footer-bottom {
        text-align: center;         
        padding: 10px 0;           
        border-top: 1px solid #bea8a8; 
        background-color: rgba(171, 129, 165, 0.5); 
    }
    
    .footer-bottom p {
        margin: 5px 0;             
    }
    
    .footer-bottom a {
        color: #f7e2b9;             
        text-decoration: none;     
    }
    
    .footer-bottom a:hover {
        text-decoration: underline; 
    } }}